@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
  padding-left:10px;
}
body {
    background-color:#1CE1CE;
    background-color: cover;
    font-family: 'Amatic SC',
    cursive;
    color: black;
    text-align: left;
    padding-left:90px;
    font-size:2em;
}
header {
 font-family: 'Bitter', serif;
  color: red;
  text-align: center;
}